
<div><img src="<%= current_user.image %>" style="  width: 128px;height: 128px;object-fit: cover;border-radius: 128px;" ></div>
<h2><%= current_user.name %></h2>
<div>@<%= current_user.username %></div>

<br>

<div>
  <a href="/user_photos/<%= current_user.id %>">My photos</a>
  <a href="/pins/<%= current_user.id %>">My pins</a>
  <a href="/users/edit">Edit profile</a>
</div>

<br>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Creator
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Title
        </th>

        <th>
          Album
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <%= a_photo.creator_id %>
        </td>

        <td>
          <%= a_photo.description %>
        </td>

        <td>
          <%= a_photo.image %>
        </td>

        <td>
          <%= a_photo.title %>
        </td>

        <td>
          <%= a_photo.album_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
