
<!--USER DETAILS-->

<img src="<%= @the_user.image %>" style="width: 128px;height: 128px;object-fit: cover;border-radius: 128px;" >
<figcaption><h2><%= @the_user.name %></h2></figcaption>
<div>@<%= @the_user.username %></div>
<br>
<div><%= @the_user.bio %></div>

<br>



<!--OPTIONS-->

<div>
  <a href="/user_photos/<%= @the_user.id %>">My photos</a>
  <a href="/pins/<%= @the_user.id %>">My pins</a>

  <% if current_user != nil && @the_user.id == current_user.id%>
    <a href="/users/edit">Edit profile</a>
  <% end %>

</div>



<!--MY PINS-->

<br>
<h3>My pins</h3>
<div>
  <table border="1">
    <tr>
      <th>
        Image
      </th>

      <th>
        Title
      </th>

      <th>
      </th>

    </tr>

    <% @list_of_photos.each do |a_photo| %>
      <tr>

        <td>
          <img src="<%= a_photo.image %>" style="height: 200px;">
        </td>

        <td>
          <%= a_photo.title %>
        </td>

        <td>
          <div> <a href="/photos/<%= a_photo.id %>">Show details</a> </div>

          <% if current_user != nil && @the_user.id == current_user.id%>
            <div> <a href="/delete_pin/<%= a_photo.id %>">Unpin</a> </div>
          <% end %>        
        </td>

      </tr>
    <% end %>
  </table>
</div>

<hr>
