<div>
  <div>
    <h1>
      Pin #<%= @the_pin.id %> details
    </h1>

    <div>
      <div>
        <a href="/pins">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_pin/<%= @the_pin.id %>">
          Delete pin
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Photo
      </dt>
      <dd>
        <%= @the_pin.photo_id %>
      </dd>

      <dt>
        Pinner
      </dt>
      <dd>
        <%= @the_pin.pinner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pin.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pin.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit pin
    </h2>

    <form action="/modify_pin/<%= @the_pin.id %>"  method="post" >
      <div>
        <label for="photo_id_box">
          Photo
        </label>

        <input type="text" id="photo_id_box" name="query_photo_id" value="<%= @the_pin.photo_id %>">
      </div>

      <div>
        <label for="pinner_id_box">
          Pinner
        </label>

        <input type="text" id="pinner_id_box" name="query_pinner_id" value="<%= @the_pin.pinner_id %>">
      </div>

      <button>
        Update pin
      </button>
    </form>
  </div>
</div>

<hr>
