<div>
  <div>
    <h1>
      Photo #<%= @the_photo.id %> details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Creator
      </dt>
      <dd>
        <%= @the_photo.creator_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_photo.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_photo.image %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_photo.title %>
      </dd>

      <dt>
        Album
      </dt>
      <dd>
        <%= @the_photo.album_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="creator_id_box">
          Creator
        </label>

        <input type="text" id="creator_id_box" name="query_creator_id" value="<%= @the_photo.creator_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_photo.description %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_photo.title %>">
      </div>

      <div>
        <label for="album_id_box">
          Album
        </label>

        <input type="text" id="album_id_box" name="query_album_id" value="<%= @the_photo.album_id %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>

<hr>
