<div>
  <div>
    <h2>
      <%= @the_photo.title %>
    </h2>

    <img src="<%= @the_photo.image %>" style="height: 200px;">

    <dl>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_photo.description %>
      </dd>

      <dt>
        Creator
      </dt>
      <dd>
        <%= @the_photo.creator.username %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>
    </dl>

  </div>
</div>

<% if current_user.id != @the_photo.creator.id %>
  <div> <a href="/insert_pin/<%= @the_photo.id %>">Pin photo</a> </div>
<% end %>

<hr>

<% if current_user.id == @the_photo.creator.id %>

  <div>
    <div>
      <h2>
        Edit photo
      </h2>

      <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
        <div>
          <label for="creator_id_box">
            Creator
          </label>

          <input type="text" id="creator_id_box" name="query_creator_id" value="<%= @the_photo.creator_id %>">
        </div>

        <div>
          <label for="description_box">
            Description
          </label>

          <input type="text" id="description_box" name="query_description" value="<%= @the_photo.description %>">
        </div>

        <div>
          <label for="image_box">
            Image
          </label>

          <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
        </div>

        <div>
          <label for="title_box">
            Title
          </label>

          <input type="text" id="title_box" name="query_title" value="<%= @the_photo.title %>">
        </div>

        <button>
          Update photo
        </button>
      </form>
    </div>
  </div>

  <br>

  <div>
    <a href="/delete_photo/<%= @the_photo.id %>">
      Delete photo
    </a>
  </div>

<hr>

<% end %>
