
<!--PHOTO DETAILS-->

<div>
  <div>
    <h2>
      <%= @the_photo.title %>
    </h2>

    <img src="<%= @the_photo.image %>" style="height: 200px;">

    <dl>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_photo.description %>
      </dd>

      <dt>
        Creator
      </dt>
      <dd>
        <a href="/user_photos/<%= @the_photo.creator.id %>">@<%= @the_photo.creator.username %></a>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>

      <% if @the_photo.pinners.count > 0 %>
        <dt>
          Pinned by
        </dt>
        <dd>
            <% @the_photo.pinners.each do |a_pinner| %>
              <li><a href="/user_photos/<%= a_pinner.id %>">@<%= a_pinner.username %></a></li>
            <% end %>
        </dd>
      <% end %>

    </dl>

  </div>
</div>





<!--PIN PHOTO-->

<% if current_user != nil && current_user.id != @the_photo.creator.id %>
  <div> <a href="/insert_pin/<%= @the_photo.id %>">Pin photo</a> </div>
<% end %>

<br>
<hr>




<!--COMMENTS-->

<h2>Comments</h2>

<% if @the_comments.count == 0 %>
  
  <div>No comments yet</div>

<% else %>

  <table>
    <tr>
      <th>
        Commenter
      </th>

      <th>
        Comment
      </th>

      <th>
        Posted
      </th>
    </tr>

    <% @the_comments.each do |a_comment| %>

    <tr>
      <td>
        <a href="/user_photos/<%= a_comment.commenter.id %>">@<%= a_comment.commenter.username %></a>
      </td>

      <td>
        <%= a_comment.text %>
      </td>

      <td>
        <%= time_ago_in_words(a_comment.created_at) %>
      </td>
    </tr>

    <% end %>
  </table>

<% end %>




<!--ADD COMMENTS-->

<% if current_user != nil %>

  <h3>Add a new comment</h3>

  <form action="/insert_comment" method="post">
    <label for="browser_comment"></label>
    <textarea id="browser_comment" type=text placeholder="Enter a comment..." name="text"></textarea>
    <input type="hidden" name="photo_id" value=<%= @the_photo.id %>>

    <button>Add comment</button>
  </form>

<% end %>

<br>
<hr>




<!--EDIT PHOTO-->

<% if current_user != nil && current_user.id == @the_photo.creator.id %>

  <div>
     <form action="/modify_photo/<%=@the_photo.id%>" method="post">
      <div>
        <h2>
          Edit photo
        </h2>

        <div>
          <label for="title_box">
            Title
          </label>

          <input type="text" id="title_box" name="query_title" value="<%= @the_photo.title %>">
        </div>

        <div>
          <label for="description_box">
            Description
          </label>

          <textarea id="description_box" name="query_description"><%= @the_photo.description %></textarea>
        </div>

        <div>
          <label for="image_box">
            Image
          </label>

          <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
        </div>

        <button>
          Update photo
        </button>
      </form>
    </div>
  </div>

  <br>

  <div>
    <a href="/delete_photo/<%= @the_photo.id %>">
      Delete photo
    </a>
  </div>

<hr>

<% end %>
