
<img src="<%= current_user.image %>" style="width: 128px;height: 128px;object-fit: cover;border-radius: 128px;" >
<figcaption><h2><%= current_user.name %></h2></figcaption>
<div>@<%= current_user.username %></div>

<br>

<div>
  <a href="/user_photos/<%= current_user.id %>">My photos</a>
  <a href="/pins/<%= current_user.id %>">My pins</a>
  <a href="/users/edit">Edit profile</a>
</div>

<br>
<h3>My photos</h3>
<div>
  <table border="1">
    <tr>
      <th>
        Image
      </th>

      <th>
        Title
      </th>

      <th>
      </th>

    </tr>

    <% @list_of_photos.each do |a_photo| %>
      <tr>

        <td>
          <img src="<%= a_photo.image %>" style="height: 200px;">
        </td>

        <td>
          <%= a_photo.title %>
        </td>

        <td>
          <div> <a href="/photos/<%= a_photo.id %>">Show details</a> </div>

          <% if a_photo.creator_id == current_user.id %>
            <a href="/delete_photo/<%= a_photo.id %>">Delete photo</a> </div>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>
</div>

<hr>
