<!DOCTYPE html>
<html>
  <head>
    <title>PINspiration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <h1>PINspiration</h2>
    <div>
      <a href="/photos">Discover</a>

      <% if current_user.present? %>
        <a href="/new_photo">Create</a>
        <a href="/user_photos/<%= current_user.id %>">My page</a>
        <a href="/users/sign_out">Sign out</a>
      <% else %>
        <a href="/users/sign_in">Sign in</a>
        <a href="/users/sign_up">Sign up</a>
      <% end %>
      
    </div>
    <hr>

    <%= yield %>
  </body>
</html>
